# From asdf official doc to test https://github.com/kachick/renovate-config-asdf/pull/290
ruby 3.1.3 # This is a comment
# This is another comment
nodejs 19.2.0
python 3.11.0 2.7.15 system
# And more patterns
crystal 1.6.2 1.5.1 system # As this...

hugo extended_0.107.0 0.104.3
gohugo 0.107.0 extended_0.104.3
